<h1>Cadastro realizado com sucesso</h1>

{{#each usuarios}}
{{id}}
{{nome}}
{{sobrenome}}
{{idade}}
{{email}}
<form action="/deletar/{{id}}" method="get">
 <button type="submit">Deletar</button>
</form>

<hr>
{{/each}}