{{usuarios}}
<form action="/login/{{id}}" method="post"></form>

    <legend>{{id}}</legend>
    <!--div nome de Usuário-->
{{}} 
    <div class="mb-3">
      <label for="nomeUsuario" class="form-label">Usuário</label>
      <select id="nomeUsuario" class="form-select" >
        {{#each usuarios}}
        <option value="{{nome}}">{{nome}}</option> 
        {{/each}}
      </select>
    </div>
  <!--fim da div nome de Usuário-->

   <!--div password-->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="psw" class="form-control" placeholder="Insira sua senha">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
